#!/usr/bin/env bash

if [ -f ".env" ]; then dotenv; else echo "no .env file, please create one or copy .env.example"; fi

# Define the color codes for the text
RED='\033[0;31m'
GREEN='\033[0;32m'
BLUE='\033[0;34m'
CYAN='\033[0;36m'
YELLOW='\033[1;33m'

RESET='\033[0m'
# Print the block using echo
echo -e "${GREEN}██████████████████████████████████████████████████${RESET}"
echo -e "${GREEN}█▌                                              ▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=======> ${BLUE}>=>     >=>   >=>>=>   ${YELLOW}>=======>  ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=>       ${BLUE}>=>     >=> >=>    >=> ${YELLOW}>=>        ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=>       ${BLUE}>=>     >=>  >=>       ${YELLOW}>=>        ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=====>   ${BLUE}>=>     >=>    >=>     ${YELLOW}>=====>    ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=>       ${BLUE}>=>     >=>       >=>  ${YELLOW}>=>        ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=>       ${BLUE}>=>     >=> >=>    >=> ${YELLOW}>=>        ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌  ${YELLOW}>=>       ${BLUE}  >====>      >=>>=>   ${YELLOW}>=======>  ${GREEN}▐█${RESET}"
echo -e "${GREEN}█▌                                              ▐█${RESET}"
echo -e "${GREEN}██████████████████████████████████████████████████${RESET}"
echo ""
echo -e "${YELLOW}Welcome to the FUSE Development Environment${RESET}"
echo -e "${CYAN}Let's build something awesome!${RESET}"

export PROJECT_PATH=$PWD
export GROUPID=$(id -u)
export USERID=$(id -g)
