# Binary files
bin/

# Test reports
*.xml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# All envs are not allowed (only .env.example)
.env
.env.*
!.env.example