name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        check-latest: true
        cache: true
        cache-dependency-path: |
          **/go.sum
          **/go.mod

    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.0.2
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Run tests
      run: make test

    - name: Run linter
      run: make lint

    - name: Build
      run: make build 